<div class="service_info_container">
   <h1>Мобильное приложение</h1>
   <div class="service_block_info white_left_service_block_info">
     <h2>Зачем нужно мобильное приложение?</h2>
     <p>Это новый канал, с помощью которого вы можете увеличить прибыль компании. Это может быть
довольно значительное увеличение в зависимости от того, насколько велика аудитория.</p>
   </div>
   <div class="service_block_info black_right_service_block_info">
     <h2>Какие мобильные приложения бывают?</h2>
     <p><ul>
       <li>социальные сети;</li>
       <li>игровой контент</li>
       <li>промо-приложения</li>
       <li>контентные сервисы.</li>      
     </ul></p>
   </div>
   <div class="service_block_info white_left_service_block_info">
     <p>Независимо от того какое приложение вам требуется, я смогу все! А отправить форму для связи вы можете по кнопке ниже!</p>
   </div>
   <div class="get_consult_div_desctop">
     <div class="get_consult_div_desctop_a">Заказать Мобильное Приложение</div>
   </div>
 </div>