<div class="service_info_container">
   <h1>Парсер</h1>
   <div class="service_block_info white_left_service_block_info">
     <h2>Что такое Парсер?</h2>
     <p>Парсер — это программа для сбора и систематизации информации, размещенной на различных сайтах. Источником данных может служить текстовое наполнение, HTML-код сайта, заголовки, пункты меню, базы данных и другие элементы. Процесс сбора информации называется парсинг (parsing).</p>
   </div>
   <div class="service_block_info black_right_service_block_info">
     <h2>Какие парсеры бывают??</h2>
     <p><ul>
       <li>Самостоятельно разработанный парсинг</li>
       <li>Браузерное расширение</li>
       <li>Компьютерное программное обеспечение</li>
       <li>Парсер с пользовательским интерфейсом</li>
       <li>Облачный и локальный парсинг</li>
     </ul></p>
   </div>
   <div class="service_block_info white_left_service_block_info">
     <p>Опишите вашу задачу в форме и я свяжусь с вами! А отправить форму для связи вы можете по кнопке ниже!</p>
   </div>
   <div class="get_consult_div_desctop">
     <div class="get_consult_div_desctop_a">Заказать Парсер</div>
   </div>
 </div>